; PlatformIO Project Configuration File
;
;   Build options: build flags, source filter
;   Upload options: custom upload port, speed and extra flags
;   Library options: dependencies, extra library storages
;   Advanced options: extra scripting
;
; Please visit documentation for the other options and examples
; https://docs.platformio.org/page/projectconf.html

[env:esp32dev]
platform = espressif32
board = esp32dev
framework = arduino
build_flags = 
	-D WIFI_SSID=\"WIFI_SSID\"
	-D WIFI_PASSWORD=\"WIFI_PASSWORD\"
	-D DATABASE_URL=\"FIREBASE_DATABASE_URL\"
	-D API_KEY=\"FIREBASE_DATABASE_API_KEY\"
	-D PARENT_PATH=\"PARENT_PATH\"
lib_deps = 
	mobizt/Firebase ESP32 Client@^3.17.5
	crankyoldgit/IRremoteESP8266@^2.8.2
